body {
  background: rgb(160, 82, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 44px;
  text-align: center;
  color: aliceblue;
  font-family:cursive;
}

.description {
  transition: 1.9s ease-in-out;
}

